*

!.gitignore
!.env.example
!.github/
!.github/**
!README.md
!SPEC.md
!CHANGELOG.md
!Cargo.toml
!Cargo.lock
!src/
!src/**
!migrations/
!migrations/**
!embed/
!embed/**
!tests/
!tests/**
!docs/
!docs/**
!deploy/
!deploy/**
!.skills/
!.skills/**
!Dockerfile
!docker-compose.yml
!.dockerignore
!assets/
!assets/**