*

!.gitignore
!.env.example
!.github/
!.github/**
!README.md
!Cargo.toml
!Cargo.lock
!src/
!src/**
!migrations/
!migrations/**
!embed/
!embed/**
!tests/
!tests/**
!docs/
!docs/**
!Dockerfile
!docker-compose-example.yml
!.dockerignore
!assets/
!assets/**